footer{
    background:#172337;
}
.footer{
    justify-content:center;
    padding-top:40px;
}
.footer-top{
    width:90%;
}
.footer-left{
    width:55%;
}
.footer-right{
    width:45%;
}
.footer-content{
    width:25%;
}
.footer-heading{
    color:#878787;
    font-size:12px;
    font-weight:400;
    margin-bottom:8px;
}
.footer-link{
    text-decoration:none;
    color:#fff;
    font-size:12px;
    font-weight:400;
    line-height:2;
}
.contentDiv{
    width:50%;
}
.address .footer-link,.contentDiv .footer-link{
    line-height:18px;
}
.phno{
    color:#2874f0; 
}
.cont-ad{
    border-left:1px solid #454d5e;
    padding:0 25px;
}
.footer-social{
    margin-top:15px;
}
.footer-bottom{
    border-top: 1px solid #454d5e;
    padding: 25px 0;
    margin-top: 40px;
    width:100%;
    justify-content:space-evenly;
}
.bottom-content{
    display:flex;
    align-items:center;
}
.bottom-link{
    text-decoration:none;
    color:#fff;
    font-size:14px;
    padding-left:5px;
}
.footer-content .footer-link:hover{
    text-decoration:underline;
}