body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #f0f4ff, #d9e8f9);
    margin: 0;
    padding: 0;
}
.login-title {
    color: rgb(51, 122, 183);
    font-weight: bold;
} 
.navbar {
    background: linear-gradient(90deg, rgb(51, 122, 183), rgb(33, 95, 165));
}
.nav-item .nav-link , .nav-brand{
    color: white;
    transition: color 0.3s ease;
}
.nav-link:hover , .nav-brand:hover{
    color: rgb(88, 211, 241);
}
.container{
    top : 40px;
    max-width: 400px;
    background: white;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
}
.shadow-heavy{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
input ,select{
    width: 100%;
    padding: 10px;
    margin: 0px 0px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease;
}


input:focus {
    border-color: rgb(51, 122, 183);
    outline: none;
    box-shadow: 0 0 5px rgba(51, 122, 183, 0.5);
}

.fs-small{
    font-size: 12px;
}

.categoryName{
    padding: 8px;
}

.card {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    border-radius: 20px;
    padding-inline: 12px;
    margin-block: 2px;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
} 
.card button {
    font-size: 14px;
    border-radius: 5px;
    text-transform: capitalize;
}
.card button:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.addPageBtn {
    transition: transform 0.5s, box-shadow 0.2s;
    background-color: aqua;
    cursor: pointer;
}

.addPageBtn:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

select:focus {
    border-color: rgb(51, 122, 183);
    outline: none;
    box-shadow: 0 0 5px rgba(51, 122, 183, 0.5);
}

.nav-link{
    cursor: pointer;
}