.fldName{
    display: inline-block;
    width: 95px;
    font-weight: 600;
}
.card-text{
    font-size: 13px;
}
.cursor-pointer{
    cursor: pointer;
}
.cursor-pointer:hover{
    transform: scale(1.01);
    transition: transform 0.2s;
}
.carousel-image{
    height: 15vh;
    object-fit: contain;
}
.carousel-imageDiv{
    width: 9vw;
    margin-bottom: 15px;
    margin-inline: 12px;
}
#displayProductImage{
    width: 46vw;
    flex-wrap: wrap;
}
.fs-12px{
    font-size: 12px;
}
.product-card {
    transition: transform 0.2s ease-in-out;
}
.product-card:hover {
    transform: scale(1.03);
}
.product-card img {
    height: 200px;
    object-fit: contain;
}
.category-title {
    font-size: 1.5rem;
    color: #343a40;
}
.product-desc{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}